<div class="body">
  <header>
    <div class="title">
      <h1>Available Cars</h1>
    </div>
    <div class="search">
      <span>There are 15 cars that match your criteria</span>
      <div class="search-input">
        <i class="fa fa-search icon"></i>
        <input type="text" placeholder="" />
        <img src="../../assets/icons/kebob-menu.svg" style="color: black" />
      </div>
    </div>
  </header>
  <main>
    <div class="header">
      <label>Car details</label>
      <label>Location</label>
      <label>Price</label>
      <label>Action</label>
    </div>
    <div class="row">
      <label class="title">Car details</label>
      <label class="description">Location</label>
      <label class="price">Price</label>
      <label class="like">Action</label>
    </div>
    <div class="row">
      <label class="title">Car details</label>
      <label class="description">Location</label>
      <label class="price">Price</label>
      <label class="like">Action</label>
    </div>
    <div class="row">
      <label class="title">Car details</label>
      <label class="description">Location</label>
      <label class="price">Price</label>
      <label class="like">Action</label>
    </div>
    <div class="row">
      <label class="title">Car details</label>
      <label class="description">Location</label>
      <label class="price">Price</label>
      <label class="like">Action</label>
    </div>
    <div class="row">
      <label class="title">Car details</label>
      <label class="description">Location</label>
      <label class="price">Price</label>
      <label class="like">Action</label>
    </div>
    <div class="row">
      <label class="title">Car details</label>
      <label class="description">Location</label>
      <label class="price">Price</label>
      <label class="like">Action</label>
    </div>
    <div class="row">
      <label class="title">Car details</label>
      <label class="description">Location</label>
      <label class="price">Price</label>
      <label class="like">Action</label>
    </div>
  </main>
</div>
