div {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #e5e5e5;
  padding: 10px 100px;
}

main,
header {
  padding: 0;
  margin: 0;
}

.header {
  display: grid;
  grid-template-columns: 40% repeat(3, 20%);
  color: white;
  background: #008ad8;
  border-radius: 6px;
  height: 55px;
  align-items: center;
}

.header label:nth-child(1) {
  min-width: 285px;
}

.row {
  display: grid;
  grid-template-columns: 40% repeat(3, 20%);
  width: inherit;
  align-items: center;
}

.header label,
.row label {
  padding-left: 30px;
}

.search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.search span {
  margin-right: auto;
}

.search input {
  width: 242px;
  height: 39px;

  background: #ffffff;
  border-radius: 36px;
  border: none;
}

.search-input i {
  position: absolute;
  margin-left: 220px;
}

.search img {
  align-self: center;
  padding: 0px 10px 0px 10px;
}

.search-input {
  display: flex;
  align-items: center;
}

.title {
  min-width: 285px;
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;

  color: #008ad8;
}

@media (max-width: 414px) {
  .body {
    padding: 0;
    height: auto;
  }

  main,
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .header {
    display: none;
  }

  .row {
    grid-template-areas: "t t" "d d" "p s";
    grid-template-columns: none;
    background-color: red;
    border-radius: 6px;
    height: 177px;
    width: 362px;
    margin-bottom: 10px;
  }

  .title {
    grid-area: t;
  }

  .description {
    grid-area: d;
  }

  .price {
    grid-area: p;
  }

  .like {
    grid-area: s;
  }

  .search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
