a {
  color: white;
}

.app-content {
  display: grid;
  grid-template-rows: 30px calc(100% - 30px);
  grid-template-columns: 100%;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
